body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*                    Header                            */

header{
    width: 80%;
    padding: 1% 10% 0% 10%;
    background-color:#f3f3f5;
    height: auto;
    
}

/*Syle for kontakt-knappen*/
#contact_button{
    background-color:  #b2722a;
    margin: 0px 0px 20px 10px;
    float: right;
    border-radius: 10px;
}

/*Mer styling av kontaktknappen*/
#contact_button a{
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #f3f3f5;
    transition: all 0.3s ease 0s;
}

/*Endrer fargen på skriften i kontaktknappen når man hovrer over den.*/
#contact_button a:hover{
    color:#1c3f26;
}

/*Setter størrelsen på logoen. */
#logo{
    width: 35%;
}



/*                      Nav.bar                   */

/*Fjerner alle predefinerte instillinger på listen*/
ul.nav{
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

/*Bakgrunnsfarge på nav.bar */
ul.nav li{
    background-color: #1c3f26;
    float: right;
}

/*Endre musikonet til å immitere en link*/
#li_1,#li_2{
    cursor:pointer;
}

/*Endre fargen til under nav.bar til orange*/
ul#under_nav_1 li, ul#under_nav_2 li {
    background-color: #b2722a; 
}

/*Endre fargen på skriften i undernav.bar til grå når man har musa over den.*/
ul#under_nav_1 li a:hover, ul#under_nav_2 li a:hover{
    color: #1c3f26; 
}

/*Link i li elementene*/
ul.nav li a{
    display: block;
    color: #f3f3f5;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

/*Skjuler de to undermenyene*/
#under_nav_1, #under_nav_2{
    display: none; 
}

/*endrer hoverfargen*/
ul.nav li a:hover {background-color: #b2722a;}

/*Dette gjør nav.bar og resten av siden responsive. Setter at den går over til mobil-modus når skjermstørrelsen er mindre enn 600px. */
@media screen and (max-width: 600px){ 
    ul.nav li {float: none;}
}

/*Nav.bar slutt*/



/*Class Content: Delen på siden hvor alt innholdet skal.*/
.content{
    width: 80%;
    margin: 30px auto 20px auto;
}


/*Footer*/
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: grey;
}



/*CONTACT PAGE */
#map {
    height: 300px;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

input[type=text], input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
input[type=submit] {
    background-color: #b2722a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #734f1e;
    transition: all 0.3s ease 0s;
}
#contact_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 80%;
    float: left;
    margin-top: 40px;
    margin-left: 5%;
    margin-bottom: 60px;
}
#header_contact{
    margin-top:4px;
    margin-left:5%;
    font-size: 40px;
    margin-bottom: 0;
    color:#b2722a;
    margin-top: 20px;
    align-content: center;
    width: 100%;
}
.content{
    box-sizing: border-box;
}
.column{
    float:left;
    width: 32%;
    padding: 5px;
    height: 500px;
    margin-left: 2px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#small_box{
    height:200px;
}

#adress,#hours{
    margin-top: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 90%;
    float:none;
}
#adress_title, #hours_title{
    font-size: 20px;
    margin: 0;
    text-align: center;

}

#horline_adress {
    padding: 0;
    border-radius: 5px;
    border-width:thin;
    border-style:outset; 
}

/*SUPPLIES PAGE*/
.supplies_div{
    height: 160px;
    width: 200px;
    margin: 10px 10px;
    float: left;
}

.supplies_div img{
    width: 100%;
}

.supplies_div img:hover{
    width: 99%;
    transition: all 0.3s ease 0s;
}
/*Supplies end*/